body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    color: white;
    font-family: sans-serif;
}
canvas {
    border: 2px solid #555;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#main-layout {
    display: flex;
    gap: 30px;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.panel {
    background: #112240;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #233554;
}

#gui-container {
    display: flex; /* Puts Graph and Controls side-by-side */
    gap: 20px;
}

#controls {
    display: flex;
    flex-direction: column;
    width: 180px;
}

/* Styling the labels created by p5.js */
.slider-label {
    margin-top: 15px;
    font-size: 14px;
    color: #64ffda;
}

canvas {
    border-radius: 4px;
}

/*5#canvas-container {*/
/*    display: flex; !* Puts canvases side-by-side *!*/
/*    gap: 20px;*/
/*    margin-top: 20px;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*}*/
/*
.canvas-box {
    border: 1px solid #303c55;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}
*/